.breadcrumb-item a:hover {
    color: #0850A6;
}
.content-detail-block h3 {
    line-height: 58px;
}
.content-detail-block h4 {
    font-size: 32px;
    line-height: 44px;
}
.content-detail-block h5 {
    line-height: 43px;
}
.content-detail-block h6 {
    line-height: 25px;
}
.content-detail-block p {
    line-height: 25px;
}
.content-detail-block ol {
    margin-top: 16px;
    margin-bottom: 0;
}
.content-detail-block ul {
    margin-top: 16px;
    margin-bottom: 0;
}
.content-detail-block img {
    width: 100%;
    height: auto;
}
.tag-link {
    color: #1E222A;
    /* background-color: #212529; */
    border-color: #DBDCDD;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1.5rem;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 500;
}
.tag-link:hover {
    color: #1E222A;
    /* background-color: #212529; */
    border-color: #DBDCDD;
    font-size: 12px;
    font-weight: 500;
}
.profile-img {
    height: 90px;
    display: block;
    float: left;
    margin-right: 15px;
}
.profile-detail {
    display: block;
    /* float: right; */
}
.profile-detail p {
    margin-bottom: 8px;
}
.info-title {
    margin-right: 30px;
}
.caption-image {
    margin-top: 8px;
    display: block;
}
.image-block {
    margin-top: 32px;
}
.hyper-link {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 16px;
}
hr {
    margin-top: 37px;
}
.related-articles-title {
    margin-top: 56px;
    margin-bottom: 25px;
}
.category-link {
    font-size: 14px;
    margin-top: 16px;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
}
.card-img-top {
    padding-bottom: 0;
}
.related-articles-section {
    padding-bottom: 54px;
}
@media only screen and (max-width: 576px)
{
    .published-label {
        font-size: 14px;
    }
    .share-label {
        font-size: 14px;
      }
}

