@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&family=Sarabun&display=swap');

body {
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
    font-weight: 400!important;
}
a {
    font-family: 'Sarabun', sans-serif!important;
}
h1 {
    font-family: 'IBM Plex Sans Thai', sans-serif!important;
    font-size: 96px;
    font-weight: 700!important;
}
h2 {
    font-family: 'IBM Plex Sans Thai', sans-serif!important;
    font-size: 55px;
    font-weight: 700!important;
}
h3 {
    font-family: 'IBM Plex Sans Thai', sans-serif!important;
    font-size: 48px;
    font-weight: 700!important;
}
h4 {
    font-family: 'IBM Plex Sans Thai', sans-serif!important;
    font-size: 34px;
    font-weight: 700!important;
}
h5 {
    font-family: 'IBM Plex Sans Thai', sans-serif!important;
    font-size: 24px;
    font-weight: 700!important;
}
h6 {
    font-family: 'IBM Plex Sans Thai', sans-serif!important;
    font-size: 20px;
    font-weight: 700!important;
}
.binary-craft-header {
    font-family: 'IBM Plex Sans Thai', sans-serif!important;
}
.sub-title {
    font-weight: bold;
}
.logo {
    height: 30px;
}
.nav-link {
    font-size: 14px;
    color: #1E222A;
    font-weight: 700;
}
.active {
    color: #0D66D0!important;
    border-bottom: 4px solid #0D66D0;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom: 3px!important;
    margin-left: .5rem!important;
}
.category-active {
    color: #fff!important;
    border-bottom: 4px solid #fff;
}
.navbar-second-item ul {
    list-style: none;
}
.navbar-second {
    background-color: #182B45;
    height: 70px;
}
.navbar-second-item {
    height: 70px;
}
.navbar-second-item ul {
    width: 810px;
    height: 70px;
}
.nav-item {
    float: left;
}
.nav-item > .nav-link {
    color: #FFF;
    padding: 24px 1rem 5px;
}
.search-block {
    padding: 0.5rem 1rem;
}
.btn-search {
    line-height: 18px;
    margin-top: 15px;
    height: 18px;
}
.navbar-second-mobile {
    background: rgb(24,43,69);
    background: linear-gradient(270deg, rgba(24,43,69,1) 0%, rgba(24,43,69,0) 100%);
}
.search-icon {
    width: 18px;
    margin-top: -4px;
}
.search-desktop {
    margin-top: 7px;
}
hr {
    opacity: 1!important;
}
.mobile-search-block {
    margin-top: 7px;
    height: 57px;
    border-left: 1px solid #fff;
}
.search-icon-mobile {
    width: 18px;
}
.hero-section {
    height: 550px;
    display: flex;
    position: relative;
    overflow: hidden;
}
.hero-content-banner {
    height: 550px;
}
.hero-content {
    padding-top: 69px;
    padding-left: 70px;
    padding-right: 70px;
    position: absolute;
    bottom: 0;
    height: 347px;
    background: rgb(24,43,69);
    background: linear-gradient(0deg, rgba(24,43,69,1) 0%, rgba(24,43,69,0) 100%);
}
.hero-content span {
    font-size: 20px;
    line-height: 25px;
}
.hero-title {
    line-height: 58px;
    max-height: 116px;
    overflow: hidden;
    color: #fff;
}
.btn-readnow {
    background-color: #0D66D0;
    font-weight: 700!important;
    color: #FFF;
    transition: 0.3s;
    height: 49px;
    width: 139px;
}
.btn-readnow:hover {
    /* opacity: .5!important; */
    color: #FFF!important;
    background-color: #0850A6;

}
.btn-apply {
    background-color: #0D66D0;
    font-weight: 700!important;
    color: #FFF;
    transition: 0.3s;
    height: 34px;
    width: 95px;
    font-size: 14px;
}
.btn-apply:hover {
    opacity: .5!important;
    color: #FFF!important;
    /* background-color: #0850A6; */
}
.btn-viewall {
    background-color: #0D66D0;
    font-weight: 700!important;
    color: #FFF;
    transition: 0.3s;
    height: 49px;
    width: 200px;
    line-height: 36px;
}
.btn-viewall:hover {
    /* opacity: .5!important; */
    color: #FFF!important;
    background-color: #0850A6;
    line-height: 36px;
}
.binary-craft {
    min-height: 836px;
    background-image: url('/images/default/binary-craft-bg.jpg');
    background-size: contain;
    padding-top: 48px;
    color: #FFF;
    margin-bottom: 38px;
}
.binary-craft-title {
    overflow: hidden;
    line-height: 34px;
    max-height: 68px;
}
.binary-craft-link {
    text-decoration: none;
    color: #fff;
}
.binary-craft-link:hover {
    color: #fff;
}
.content-link {
    text-decoration: none;
    color: #1E222A;
}
.content-link:hover {
    color: #0850A6;
}
.display-time-w {
    line-height: 16px;
}
.display-time-w::before {
    content: "";
    display: block;
    background: url('/images/icon/time-icon-w-16.png') no-repeat!important;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    float: left;
}
.display-time {
    line-height: 16px;
}
.display-time::before {
    content: "";
    display: block;
    background: url('/images/icon/time-icon.png') no-repeat!important;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    float: left;
}
.filter-block {
    padding-bottom: 32px;
}
.content-block {
    padding-bottom: 16px;
}
.content-main-title {
    font-size: 32px;
    line-height: 44px;
}
.content-main-title a {
    font-family: 'IBM Plex Sans Thai', sans-serif!important;
}
.content-main-title a {
    text-decoration: none;
    color:#212529;
}
.content-main-title a:hover {
    text-decoration: none;
    color:#0850A6;
}
.content-title {
    line-height: 25px;
    max-height: 50px;
    overflow: hidden;
}
.content-title-three-row {
    max-height: 75px;
}
.content-title-four-row {
    max-height: 100px;
}
.business-line {
    border: 2px solid #0D66D0;
}
.data-and-tech-line {
    border: 2px solid #63D583;
}
.creative-line {
    border: 2px solid #EB5253;
}
.privacy-line {
    border: 2px solid #A148F5;
}
.research-line {
    border: 2px solid #F8D147;
}
.icon-chevron {
    display: inline-block;
    background: url('/images/icon/chevron-right.png') no-repeat!important;
    background-position: bottom;
    width: 32px;
    height: 26px;
    margin-left: 5px;
}
#footer {
    background-color: #182B45;
}
.footer-logo {
    height: 41px;
}
.link-footer {
    display: inline;
    line-height: 42px;
    text-decoration: none;
    color: #fff;
}
.link-footer:hover {
    color: #0850A6;
}
.footer-menu {
    list-style: none;
    padding-left: 0!important;
}
.social-link img {
    height: 20px;
}
.custom-search {
    border-radius: 18px;
}
.search-label {
    background-color:#fff;
    border-top-left-radius: 18px!important;
    border-bottom-left-radius: 18px!important;
    line-height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
}
.btn-close-icon {
    background-size: 14px 14px;
}
.form-control-search {
    border:0;
}
.btn-close {
    padding-right: 25px;
    margin-top:6px;
}
#searchModal {
    height: 70px;
    top:58px;
}
.trending-card {
    border-radius: 0;
    position: relative;
}
.btn-search-mobile {
    height: 49px;
    font-size: 16px;
    font-weight: 700;
}
.page-row {
    margin-top: 40px;
    padding-bottom: 64px;
}
.btn-page {
    border: 1px solid #E8E8E9;
    font-weight: 700;
    padding: 6px 9px;
    line-height: 16px;
    margin: 0 7px;
    color: #1E222A;
}
.btn-page-nav {
    color: #0D66D0;
}
.btn-page-nav:hover {
    color: #0D66D0;
}
.btn-page.active {
    color: #fff!important;
    font-weight: 700!important;
    padding: 6px 9px!important;
    line-height: 16px!important;
    margin: 0 7px!important;
    background-color: #0D66D0;
}
.btn-page-nav img {
    height: 14px;
}
.breadcrumb-item a {
    font-size: 10px;
    font-weight: 500;
    color:#74808F;
    text-decoration: none;
}
.breadcrumb-item {
    font-size: 10px;
    font-weight: 500;
    color:#74808F;
    text-decoration: none;
}
.card-img-top {
    padding-bottom: 16px;
}
.content-link h6 {
    margin-bottom: 16px;
}
.category-link h6 {
    padding-bottom:8px;
    margin-bottom: 0;
}
.search-result-display {
    padding-bottom: 32px;
    margin-bottom: 0;
}
#filterModalLabel {
    font-size: 32px;
}
.btn {
    font-family: 'IBM Plex Sans Thai', sans-serif!important;
}
.slide-content-title {
    height: 74px;
}
@media only screen and (max-width: 576px) {
    .navbar-second-item ul {
        margin: 0;
    }
    .navbar-second-item {
        overflow-x: scroll;
        height: 70px;
    }
    .active {
        color: #0D66D0!important;
        margin-left: 0!important;
    }
    .hero-content {
        padding-top: 21px;
        height: 300px;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
    }
    .hero-content span {
        font-size: 14px;
        line-height: 24px;
    }
    .hero-title {
        font-size: 24px;
        line-height: 34px;
        max-height: 136px;
        overflow: hidden;
    }
    .binary-craft-header {
        font-size: 32px;
        font-weight: 700;
    }
    .binary-craft-title {
        overflow: hidden;
        font-size: 20px;
        line-height: 25px;
        max-height: 75px;
    }
    .content-title {
        max-height: 75px;
    }
    .btn-readnow {
        width: 100%;
    }
    .btn-viewall {
        width: 100%;
    }
    .content-detail-title {
        font-size: 32px;
        font-weight: 700;
    }
    .published-label {
        font-size: 12px;
    }
    .share-label {
        font-size: 12px;
    }
}
