.content-section {
    padding-top: 32px;
}
.content-block {
    padding-top: 0;
    padding-bottom: 16px;
}
.article-like {
    font-size: 32px;
    padding-bottom: 24px;
}
.article-like-section {
    padding-bottom: 38px;
}
@media only screen and (max-width: 576px) {
    .article-like {
        font-size: 20px;
        padding-bottom: 24px;
    }
    .sorry-title {
        font-size: 24px;
    }
    .sorry-sub-title {
        font-size: 16px;
        font-weight: 400!important;
    }
    .category-link h6 {
        font-size: 14px;
    }
}
