#droplist {
    min-height: 800px;
}
.content-editor {
    min-height: 400px;
}
.component-social {
    min-height: 50px;
    height: 50px;
}
.component-ad {
    min-height: 50px;
    height: 50px;
}
.image-content-mockup {
    height: 150px;
}
.move-class {
    cursor: grabbing;
}
.add-component-class {
    cursor: pointer;
}
