.slide-img-overlay {
    position: absolute;
    height: 150px;
    bottom: 0;
    padding: 1.8rem 1rem 0 1rem;
    background: linear-gradient(0deg, rgba(24,43,69,1) 0%, rgba(24,43,69,0) 100%);
}
.slide-img-overlay p {
    color: #fff;
}
.slider {
    width: 50%;
    margin: 100px auto;
}
.slick-slide {
  margin: 0px 10px;
  opacity: 1!important;
}
.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.slick-dots li button::before {
    font-size: 14px;
}
.slick-dots li.slick-active button::before {
    color: #0D66D0!important;
}
.slick-dots li button::before {
    color: #DBDCDD!important;
}
.slick-prev, .slick-next {
    width: 32px;
    height: 32px;
}
.slick-prev::before {
    content: "";
    display: block;
    background: url('/images/icon/chevron-left.png') no-repeat !important;
    width: 32px;
    height: 32px;
}
.slick-next::before {
    content: "";
    display: block;
    background: url('/images/icon/chevron-right.png') no-repeat !important;
    width: 32px;
    height: 32px;
}

@media only screen and (max-width: 576px) {
    .slide-content-title {
        overflow: hidden;
        font-size: 16px;
        line-height: 25px;
        max-height: 50px;
    }
}
