@media (max-width: 1024px) {
    .sc-testimonial .testimonial-heading {
        width: 100%;
        text-align: center;
    }
    .sc-testimonial .testimonial {
        margin-top: 0;
        padding-left: 0;
    }
    .sc-testimonial .testimonial:before {
        display: none;
    }
    .sc-testimonial .testimonial {
        margin-top: 20px;
    }
    .swiper-navigation {
        justify-content: center;
    }
    .testimonial-card {
        margin-left: 10px;
        margin-right: 10px;
    }
    .sc-partner .partner-list {
        flex-wrap: wrap;
    }
    .sc-partner .partner-list a {
        width: 33%;
        margin: 0;
        padding: 20px;
    }
    .sc-partner .partner-list a img {
        display: block;
        margin: 0 auto;
        max-height: 40px;
    }
    .sc-provide .provide-list li {
        max-width: 33.33%;
        margin: 20px 0;
    }
    .benefit-card {
        width: 535px;
    }
    .sc-career .sc-heading {
        width: 270px;
    }
    .career-content {
        width: calc(100% - 270px);
    }
    .sc-career .benefit:before {
        width: calc(50vw - 180px);
    }
    .sc-career .benefit {
        padding-left: calc(50vw - 305px);
    }
    .swiper-navigation {
        justify-content: flex-start;
        padding-left: 130px;
    }
}





@media (max-width: 768px) {
    .testimonial-card {
        max-width: calc(100% - 80px);
        margin-left: 40px;
        margin-right: 40px;
    }
    .sc-testimonial .testimonial {
        padding: 20px 0 50px;
    }
    .footer-detail {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
        padding-right: 0;
    }
    .footer-map {
        max-width: 100%;
        width: 100%;
        margin-left: 0;
    }
    .footer-map iframe {
        width: 100%;
    }
    .footer-bar {
        flex-direction: column;
    }
    .footer-bar .copyright {
        margin-top: 15px;
        margin-left: 0;
    }
    .sc-career .sc-heading {
        width: 100%;
    }
    .career-content {
        width: 100%;
        padding-left: 0;
    }
    .sc-career .benefit:before {
        display: none;
    }
    .sc-career .benefit {
        padding-left: 0;
    }
    .benefit-card {
        width: 670px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: calc(100% - 40px);
    }
    .swiper-navigation {
        justify-content: center;
        padding-left: 0;
    }
}





@media (max-width: 550px) {
    .hamburger {
        display: block;
        position: fixed;
        top: 12px;
        right: 15px;
        z-index: 10;
        cursor: pointer;
    }
    .menu-icon {
        cursor: pointer;
        padding: 20px 10px;
        display: block;
        user-select: none;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .menu-icon .navicon {
        background-color: #1E222A;
        display: block;
        height: 2px;
        position: relative;
        -webkit-transition: background .2s ease-out;
        -o-transition: background .2s ease-out;
        transition: background .2s ease-out;
        width: 25px;
    }
    .menu-icon .navicon:before,
    .menu-icon .navicon:after {
        background-color: #1E222A;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        -webkit-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        width: 100%;
    }
    #header.open .menu-icon .navicon{
        background-color:  transparent;
    }
    #header.open .menu-icon .navicon:before,
    #header.open .menu-icon .navicon:after {
        background: #1E222A;
        top: 0px;
    }
    #header.open .menu-icon  .navicon:before {
        transform: rotate(-45deg);
    }
    #header.open .menu-icon  .navicon:after {
        transform: rotate(45deg);
    }
    .menu-icon .navicon:before {
        top: 7px;
    }
    .menu-icon .navicon:after {
        top: -7px;
    }
    #header.open {
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
    }
    #header.open:after {
        height: calc(100vh - 64px);
        background-color: rgba(0,0,0,0.7);
        top: 64px;
        content: '';
        position: fixed;
        left: 0;
        z-index: 1;
        width: 100%;
    }
    .menu-active {
        height: auto;
        overflow: hidden !important;
    }
    .menu {
        display: none;
    }
    #header.open .menu {
        display: block;
    }
    #header.open .header-bar nav {
        margin-left: 0;
        width: 100%;
        background-color: #fff;
        position: fixed;
        z-index: 10;
        top: 64px;
        left: 0;
        padding: 40px;
    }
    .menu > li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .container,
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    .sc-hero .hero-title, 
    .sc-team .team-text p {
        font-size: 1.5rem;
    }
    .sc-preprocess .preprocess-title,
    .sc-headline {
        font-size: 2.1rem;
    }
    .sc-hero, .sc-preprocess {
        padding-top: 0;
    }
    .sc-team {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .sc-hero, .sc-preprocess {
        position: relative;
    }
    .sc-hero:before,
    .sc-preprocess:before {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: rgba(255,255,255,0.5);
        z-index: 1;
        content: '';
    }
    .sc-hero .container,
    .sc-preprocess .container {
        position: relative;
        z-index: 2;
    }
    .testimonial-card {
        max-width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        padding: 25px;
    }
    .sc-partner .partner-list a,
    .sc-provide .provide-list li {
        width: 50%;
        max-width: 50%;
    }
    .sc-partner .sc-inner {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .sc-grid-four {
        grid-template-columns: repeat(2, 1fr);
    }
    .form .field.half-2 {
        width: 100%;
    }
    .btn {
        width: 100%;
    }
    .footer-address p:not(:last-child) {
        margin-bottom: 30px;
    }
    .footer-detail {
        margin-bottom: 45px;
    }
    .footer-map iframe {
        height: 180px;
    }
    .error-text {
        font-size: 1.87rem;
    }
    #page.page-404 #header.open .header-bar nav {
        background-color: #f9f9f9;
    }
    .sc-grid-three {
        grid-template-columns: 1fr;
    }
    .contacting-nav {
        margin-bottom: 0;
    }
    .sc-contacting .sc-subhead {
        font-size: 0.87rem;
        line-height: 24px;
    }
    .career-join {
        height: 300px;
    }
    .skill-toggle-text {
        font-size: 1.25rem;
    }
    .skill-toggle:after {
        font-size: 1.3rem;
    }
    .skill-list li {
        font-size: 0.75rem;
    }
}